body {
    margin: 0;
}

nav{
    display: block;
}

#logo {
    margin: 0;
    font-size: 30px;
    height: 40px;
    width: auto;
    display: inline-block;
}

ul {
    display: inline-block;
    margin-left: auto;
    margin-right: 5px;
}

li {
    display: inline-block;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: 5px;
}


p, h2 {

    display: inline-block;
    padding: 10px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 17px
}

p {
    width: 400px;
    height: 200px
}

#home {
    width: 100%;
    height: fit-content;
    position: relative;
}

#home-vid {
    width: 100%;
    height: auto;
    margin: 0;
}

.title-page {
    color: #F1E9DA;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    text-align: center;
    font-size: 100px;
}

#subtitle {
    text-align: center;
    font-weight: 200;
    font-size: 50px;
}
#about-us-title {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}
#about-us-subtitle {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    padding: 10px;
    margin: 5px;
}



.members {
    width: 1200px;
    height: 300px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: normal;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    
}

.join-convo {
    width: 1200px;
    height: 50px;
    margin: auto;
}
#about-sect {
    width: 1200px;
    height: 50px;
    margin: auto;
    font-size: 20px;
}